.profile-header {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-block: 1rem;
}
.profile-header dl {
  display: inline-block;
  margin: 0;
  padding-inline: 0 1em;
}
.profile-header dl div {
  display: inline-block;
  box-sizing: border-box;
  margin-inline-end: 1em;
}
.profile-header dt {
  display: inline-block;
  font-size: 0.8em;
  margin-inline-end: 0.8em;
}
.profile-header dd {
  display: inline-block;
  margin-inline: 0;
}
