.profile-header {
  margin-block: 1rem;
}
.profile-header dl {
  display: inline-block;
  margin: 0;
  padding-inline: 1em;
}
.profile-header dt {
  display: inline-block;
  font-size: 0.8em;
  margin: 0 .8em 0 2em;
}
.profile-header dt:first-child {
  margin-inline-start: 0;
}
.profile-header dd {
  display: inline-block;
  margin: 0;
}
