table {
  border-collapse: collapse;
  white-space: nowrap;
}

th, td {
  border: 1px solid;
}

button {
  font-size: 1em;
  background: none;
  border: 1px solid;
  border-radius: 2px;
  padding: .125em .25em;
}

table button {
  border: none;
  padding-block: 0;
  width: 100%;
  height: 100%;
  text-align: start;
  cursor: pointer;
}

fieldset {
  margin: 1em 0;
}

.pane-select {
  margin: 1em;
}
.pane-select label > input {
  display: none
}
.pane-select label {
  display: inline-block;
  margin-inline-end: 1em;
  border-bottom: 1px solid transparent;
  padding-block: .25em;
  cursor: pointer;
}
.pane-select label:has(input:checked) {
  border-bottom: 1px solid black;
}
